#categoryquestions .questionname {
	width: 35%;
}
#categoryquestions .tagcloud {
	width: 15%;
	white-space:normal;
	word-wrap:break-word;
}
/*.categorypagingbarcontainer {
	visibility:hidden;
}*/
.addbtn_and_searchbox {
	width: 100%;
}
.addbtn_and_searchbox .singlebutton {
	float:left;
}
.addbtn_and_searchbox .searchbox {
	float:right;
}
.addbtn_and_searchbox:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* Minified Question Base Styles */
#qheader .examcategorycontainer {
	width: 45%;
	float:left;
}
#qheader .categoryquestionscontainer {
	width: 55%;
	float:right;
}
#qheader #categoryquestions .questionname {
	width: 98%;
}
#qheader ul {
	list-style-type: none;
	background-color: rgb(228, 228, 228);
	padding: 0px 0px 0px 10px;
	margin: 0px;
	border-left:1px solid darkgrey;
}
#qheader li {
	padding: 3px;
	margin: 0px;
}
#qheader li.q {
	background-color: ghostwhite;
}
#qheader li.q img {
	vertical-align: middle;
	margin: 0px 7px 0px 5px;
}
#qheader input {
	margin: 4px;
}
#qheader input[type='image'] {
	height:8px;
	margin:0px 4px;
}
#qheader .examcategorycontainer input[type='checkbox'] {
	margin:0;
	float: right;
}

/* Autocomplete dropdown styles */
.autocomplete-w1 {
	position: absolute;
	top: 5px; left: 0px;
	margin: 6px 0 0 6px;
}
.autocomplete {
	border: 1px solid #999;
	background: #FFF;
	cursor: default;
	text-align: left;
	max-height: 350px;
	overflow: auto;
	margin: -6px 6px 6px -6px;
}
.autocomplete .selected {
	background: lightgray;
}
.autocomplete div {
	padding: 5px 10px;
	white-space: nowrap;
	overflow: hidden;
}
.autocomplete strong {
	font-weight: normal;
	color: cornflowerblue;
}
